body{
  -webkit-transition: 3s;
}
*{
  margin: 0px;
  padding: 0px;
}
div div{
  padding: 0px;
  margin: 0px;
  display: inline-block;
  line-height: 0%;
  height: 150px;
}
#icon{
  width: 50px;
  float: right;
}

.menu{
  -webkit-transform: translate(-1300px,0px);
  display: none;
  width: 100%;
  height: 500px;
  background-color: red;
}
#blueDark{
  width: 100%;
  background-color: #2A73E8;
}

#blueLight{
  width: 50%;
  background-color: #57BFF2;
}
#green{
  width: 50%;
  background-color: #4D910D;
}

#red{
  width: 100%;
  background-color: red;
}
#orange{
  width: 100%;
  background-color: #EDA92B;
}

@media screen and (min-width:550px) {

  #red{
    width:33.333333%;

  }
  #orange{
    width: 66.66666%;
  }

}
@media screen and (min-width:800px){
  body{
    -webkit-transition: 2s;
    padding: 0px 100px ;		}
}
